@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap")
    format("truetype");
}

.playlist-section .swiper-slide {
  width: auto;
  height: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    96,
    96,
    96,
    0.5
  ); /* semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it appears above other content */
}

.zoom-in-out {
  animation: zoomInOut 1s infinite alternate; /* Zoom-in and zoom-out animation with 2 seconds duration */
}

* {
  @apply transition-colors duration-100;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1); /* Start with normal size */
  }
  100% {
    transform: scale(1.2); /* Zoom out to 120% size */
  }
}

/* MODAL  */
.modalStyle .ant-modal-content {
  background-color: #fcfcfc;
}
/* dark  */
.dark .modalStyle .ant-modal-content {
  background-color: #2e3747;
}

/* modal header  */
.modalStyle .ant-modal-header {
  background-color: #fcfcfc;
}
/* dark  */
.dark .modalStyle .ant-modal-header {
  background-color: #2e3747;
}

/* modal title */
.modalStyle .ant-modal-title {
  color: #59c26d;
}
/* dark  */
.dark .modalStyle .ant-modal-title {
  color: #72e888;
}

.modalStyle .ant-modal-close-x {
  color: #59c26d;
}

/* INPUT  */
.dark .ant-select-selection-placeholder {
  color: #f0f0f0;
}

.dark .ant-form-item-control-input-content input::placeholder {
  color: #c4c4c4;
}

/* FORM  */
.formStyle .ant-form-item-label label,
.formStyle .ant-form-item-control .ant-form-item-extra {
  color: #3d3b3b;
}
/* dark  */
.dark .formStyle .ant-form-item-label label,
.dark .formStyle .ant-form-item-control .ant-form-item-extra {
  color: #e9e5e5;
}

.dark
  .formStyle
  .ant-form-item-control-input-content
  .ant-form-item-control-input
  > input,
.dark
  .formStyle
  .ant-form-item-control-input-content:hover
  .ant-form-item-control-input
  > input {
  background-color: #fcfcfc;
  color: #2e3747;
}

.dark .quill .ql-toolbar .ql-formats .ql-header > span,
.dark .quill .ql-toolbar .ql-formats > button {
  color: #e9e5e5;
}

.dark .quill .ql-editor.ql-blank::before {
  color: #e9e5e5;
}

/* TABLE */
.ant-table {
  background-color: #fcfcfc;
}
/* dark  */
.dark .ant-table {
  background-color: #2e3747;
}

.ant-table-thead > tr > th {
  background-color: #fcfcfc;
}
/* dark  */
.dark .ant-table-thead > tr > th {
  background-color: #2e3747;
  color: #e9e5e5;
  font-weight: 650;
}

.ant-table-tbody > tr > td {
  background-color: #fcfcfc;
}
/* dark  */
.dark .ant-table-tbody > tr > td {
  background-color: #2e3747;
  color: #e9e5e5;
}

.ant-table-row:hover .ant-table-cell {
  background-color: #cfcbcb;
  color: #2e3747;
}
/* dark  */
.dark .ant-table-row:hover .ant-table-cell {
  background-color: #3a4a5f;
  color: #e9e5e5;
}

/* pagination  */
/* dark  */
.dark .ant-pagination.ant-table-pagination > .ant-pagination-item a,
.dark .ant-pagination.ant-table-pagination > .ant-pagination-prev > button,
.dark .ant-pagination.ant-table-pagination > .ant-pagination-next > button,
.dark .ant-pagination.ant-table-pagination > .ant-pagination-item-active a {
  color: #e9e5e5;
}

.dark .ant-pagination.ant-table-pagination > .ant-pagination-item-active a {
  color: #59c26d;
}

/* QUILL  */
/* .ql-editor {
  height: 200px;
  max-height: 250px;
  overflow: auto;
} */
/* dark  */
.dark .ql-editor {
  color: #e9e5e5;
}

.ant-tour-buttons button {
  background-color: #59c26d;
  color: #fcfcfc;
}

.ant-tour-prev-btn {
  background-color: #fcfcfc !important;
  color: #59c26d !important;
}
