@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap")
    format("truetype");
}

.playlist-section .swiper-slide {
  width: auto;
  height: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    96,
    96,
    96,
    0.5
  ); /* semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it appears above other content */
}

.zoom-in-out {
  animation: zoomInOut 1s infinite alternate; /* Zoom-in and zoom-out animation with 2 seconds duration */
}

* {
  @apply transition-colors duration-100;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1); /* Start with normal size */
  }
  100% {
    transform: scale(1.2); /* Zoom out to 120% size */
  }
}
